 @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

 body {
  background-color: aquamarine;
 }
.between {
  float: right;
  font-size: larger;
  margin-top: -10px;
  font-weight: 600;
  font-size: 20px;
}
h1 {
  text-align: center;

}
.btn {
  height: 50px;
  width: 100px;
  border: 5px solid red;
  background-color: gold;
  font-weight: 900;
  font-size: 22px;
}
.label-highscore {
  margin-top: 20px;
  padding-left: 60%;
  font-size: 28px;
  font-weight: bolder;
}
.label-score {
  margin-top: 50px;
  padding-left: 60%;
  font-size: 28px;
  font-weight: bolder;
}
#sc {
  margin-top: -180px;
  margin-left: 60%;
  font-size: 30px;
  font-weight: bolder;

}
#guessid {
  margin-top: 100px;
  height: 40px;
  width: 200px;
  margin-left: 10%;
  text-align: center;
  align-items: center;
  /* margin: 20px; */
}
.guess {
  margin-top: 400px;
  border: 5px solid red;
  font-size: 30px;

}
.number {
  height: 80px;
  width: 80px;
  border: 5px solid brown;
  background-color: blueviolet;
  /* padding-top: 100px; */
  margin-left: 50%;
  align-items: center;
  text-align: center;
  /* padding-top: 15px; */
  font-size: 24px;
}
.check {
  margin-left: 15%;
}
